body{
    color: #fff;
    background: #00BFFF;
}

.navbar{
    border-bottom: #000000 3px solid;
}

#today{
    background: url('../../public/images/snow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    padding-top: 50px;
    min-height: 700px;
}

#today-info{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.2);
}
